*{
    margin: 0;
    padding: 0;

}
#navbar h1{
    position: relative;
    top: 6px;
}



#navbar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: rgb(255, 213, 234);
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
    z-index: 100;
    top: 0;
    box-shadow: 0 0 19px black;
    position: sticky;
}
img{
    height: 60px;
    width: 62px;
    border-radius: 100px;
    position: relative;
    margin: 0 7px;
    top: 7px;
}
#navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    top: 0;
    height: 65px;
    opacity: 0.8;
    z-index: -1;
    
}
#mainbox{
    top: 0px;
    width: 100%;
    /* position: relative; */
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    overflow: hidden;
    
}


#mainbox::before{
    overflow: hidden;
  
        content: "";
        position: absolute;
/*         background: black; */
        box-shadow: 0 0 6px black;
        background-size: 400%;
        border-radius: 5px;
        top: 0px;
        left: 0px;
        height:750px;
        width: 100%;
        z-index: -1;
/*         animation: anime 80s linear infinite; */
    
    }
    
    
    @keyframes anime {
        0% {
            background-position: 0 0;
        }
    
        50% {
            background-position: 400% 0;
        }
    
        100% {
            background-position: 0 0;
        }
    }
.container{
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    border-radius: 1001px;
    flex-direction: column;
    border: 2px solid;
    /* background-color: aqua; */
    
    overflow: hidden;
}
.container::before{
    
    content: "";
    position:absolute;
    background:url(watch1.jpg) no-repeat center center/cover;
    width: 600px;
    height: 600px;
    top: 0;
  
    /* opacity: 0.8; */
    z-index: -1;

}
.boxes{
    display: none;
    display: flex;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    /* background-color: rgb(255, 0, 0); */
    margin: 0 5px ;
    
}
.col{
    position: relative;
    width: 80px;
    height: 50px;
    background-color: rgb(194 194 194);
    top: -35px;
    border-radius: 16px;
    left: 71px;
    
}
#day{
    color: white;
    width: 40%;
    font-size: 1.5rem;
    top: 43px;
    left: -57px;
    font-weight: bolder;
    
}

#month{
    position: relative;
    top: 0px;
    left: -1px;
    
}
#date{
    position: relative;
    top: 0px;
    left: 5px;
    
}
#year{
    position: relative;
    top: 0px;
    left:5px;
    
}

#d{
    color: white;
    position: relative;
    left: -28px;
    top: 57px;
    font-size: 1.6rem;
    font-weight: bolder;
    
    display: flex;
}
#f{
    position: relative;
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 0 5px;
    display: flex;
    top: -126px;
    color: rgb(255, 255, 255);
    left: 0px;
    display: flex;
}
#watchface{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    flex-direction: column;
    height: 300px;
    width: 245px;
    top: -3px;
    border-radius: 41px;
    left: 0px;
    position: relative;
    overflow: hidden;
}
#watchface::before{
    
    content: "";
    position:absolute;
    background:url(watchb3.jpg) no-repeat center center/cover;
    width: 245px;
    height: 299px;
    top: 0;
  
    /* opacity: 0.8; */
    z-index: -1;

}
#hour{
    position: relative;
    top: 0px;
    left:3px;
}
#min{
    position: relative;
    top: 0px;
    left:2px;
}
#sec{
    position: relative;
    top: 0px;
    left:-9px;
}
#milsec{
    position: relative;
    top: 0px;
    left:5px;
}
